.portfolio-sidebar-list-wrapper {
  .portfolio-item-thumb {
    padding: 21px;

    .portfolio-thumb-img img {
      width: 100%;
    }
    .text-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: $offwhite;
        font-size: 1.5em;
      }
      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        .action-icon {
          cursor: pointer;
          color: $offwhite;
          font-size: size 1.5em;
          transition: 1.5s ease-in-out;

          &:hover {
            color: $warning;
          }
        }
      }
    }
  }
}
