.DraftEditor-root {
  border: 1px solid $teal;
  padding: 20px;
  border-radius: 4px;
}

.rdw-image-modal {
  left: -215px;
}

.rdw-emoji-modal {
  left: -169px;
}

.rdw-embedded-modal {
  left: -124px;
}
